* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.outer {
    display: flex;
    align-items: center;
    background-color:rgba(176, 252, 252, 0.873);
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

#input {
    display: flex;
    min-height: 3rem;
}

.sighns {
    background-color: black;
    border: darkgrey solid 5px;
    border-radius: 20px;
    padding: 10px;
}

.btn { 
    border: none;
    border-radius: 50%;
    margin: 5px;
    padding: 10px;
    width: 3rem;
}
.yellow {
    background-color: rgb(237, 172, 52);   
}
#last-line {
    display: flex;
    flex: 2;
}
#zero {
    display: flex;
    border-radius: 20px;
    flex: 1;
    padding-left: 20px;
}
.lightgrey {
    background-color: rgba(245, 245, 245, 0.6);
}
.white {
    color: white;
}
.darkgrey {
    background-color: rgb(54, 53, 53);
}
#dote {
    margin-left: 12px;
    margin-right: 10px;
}
